In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
df=pd.read_csv(r"C:\Users\user\Downloads\salaries (1).csv")
df

       Company                  Job     degree  Salary_more_then_100k
0       google      Sales executive  bachelors                      0
1       google      Sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      Sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      Sales executive  bachelors                      1
11    facebook      Sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [3]:
df_1=df.drop("Salary_more_then_100k",axis=1)

In [5]:
df_1

       Company                  Job     degree
0       google      Sales executive  bachelors
1       google      Sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      Sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      Sales executive  bachelors
11    facebook      Sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [6]:
target=df['Salary_more_then_100k']

In [7]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: Salary_more_then_100k, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

In [16]:
from sklearn import preprocessing

In [17]:
label_encoder = preprocessing.LabelEncoder()

In [18]:
df_1['Company']= label_encoder.fit_transform(df['Company'])

In [19]:
df_1['Job']= label_encoder.fit_transform(df['Job'])

In [20]:
df_1['degree']= label_encoder.fit_transform(df['degree'])

In [21]:
df_1

    Company  Job  degree
0         2    0       0
1         2    0       1
2         2    1       0
3         2    1       1
4         2    2       0
5         2    2       1
6         0    0       1
7         0    2       0
8         0    1       0
9         0    1       1
10        1    0       0
11        1    0       1
12        1    1       0
13        1    1       1
14        1    2       0
15        1    2       1

In [22]:
from sklearn import tree

In [24]:
decision_tree=tree.DecisionTreeClassifier()

In [26]:
decision_tree.fit(df_1,target)

DecisionTreeClassifier()

In [28]:
decision_tree.score(df_1,target)

1.0

In [30]:
decision_tree.predict([[2,2,0]])

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)